.avatar{
    width: 9%;
    height: 9%;
}

.container{
    display: flex;
    box-shadow: 1px 1px 2px 1px;
}

.names{
    font-size: 1rem;
    text-decoration: underline;
}
.contact{
    display: flex;
    font-size: 0.5rem;
}

.element_contact{
        padding-right: 1em;
}